<h2 label class="my-1 mr-2">Preference</h2>

  <select class="custom-select my-1 mb-4 mr-sm-2" (change)="onChange($event.target.value)">
    <option value=0>Choose...</option>
    <option value=2>Young animals (2 years of age and less)</option>
    <option value=3>Mature animal (Older than 2 years of age)</option>
  </select>

<div class="row">
   <div class="col-lg-4" *ngFor="let animal of childAnimals | animalAge:filterByAge">
    <div class="card border-dark bg-dark mb-3">
      <div class="card-header text-white font-weight-bold text-uppercase">Species : {{animal.species}}</div>
      <div class="card-body text-white">
        <h5 class="card-title">Name : {{animal.name}}</h5>
        <p class="card-text">Age : {{animal.age}}</p>
        <p class="card-text">Diet : {{animal.diet}}</p>
        <p class="card-text">Location : {{animal.location}}</p>
        <p class="card-text">Caretakers : {{animal.careTakers}}</p>
        <p class="card-text">Sex : {{animal.sex}}</p>
        <p class="card-text">Likes : {{animal.likes}}</p>
        <p class="card-text">Dislikes : {{animal.dislikes}}</p>
      </div>
    </div>
  </div>
</div>
